{% extends 'base.html' %}

{% block content %}
	<form action="{% url accounts:login %}" method="post" class="form-horizontal">
		{% csrf_token %}
        <h2 class="form-signin-heading">Register</h2>
        
        {% for field in form %}
            <div class="control-group{% if field.errors %} error{% endif %}">
                <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="controls">
                    {{ field }}
                    {% if field.errors %}
                        <span class="help-inline">
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        
        <button class="btn btn-large btn-primary" type="submit">Register</button>
      </form>
{% endblock %}