{% extends 'base.html' %}

{% block content %}
<h2 class="heading">Diary on {{diary.time}}</h2>
<a href="/edit/{{diary.id}}" class="btn">Edit this diary</a>
<form action="#" method="post">

<div class="row-fluid">
    <div class="span4">
        <div class="well">
        <div class="fieldWrapper" id="used_skills">
            <h3 class="heading">Used Skills</h3>
            {% for skill in skills %}
            <p>{{skill}}</p>
            {% empty %}
            <p>No used skills!</p>
            {% endfor %}
        </div>
        
        </div>
        
        <div class="well" id="actions">
            <h3 class="heading">Actions</h3>
            <div class="fieldWrapper">
            
            <label>Self Harm: {{diary.action_sh|yesno:"yes,no"}}
            </label>
                
            </div>
        
            <div class="fieldWrapper" id="lyingWrapper">
            <label>Lying (# of times): {{diary.lying}}</label> 
            </div>
        </div>
        <div class="well" id="notes">
            <h3 class="heading">Notes</h3>
            <div class="fieldWrapper">
                <p>{{diary.notes}}</p>
            </div>
        </div>
                
    </div>
    
    <div class="span8">
        <div class="well" id="urges">
        <h3 class="heading">Urges</h3>
        <div class="fieldWrapper">
            <label class="heading">Suicide:</label>
            <div class="progress">
                <div class="bar" style="width: {% widthratio diary.urge_suicide 5 100 %}%;"></div>
            </div>
            <ul class="progress-wrapper">
            	<li class="progress-bar inline">0</li>
            	<li class="progress-bar inline">1</li>
            	<li class="progress-bar inline">2</li>
            	<li class="progress-bar inline">3</li>
            	<li class="progress-bar inline">4</li>
            	<li class="progress-bar inline">5</li>
            </ul>
                                 
        </div>
        
        <div class="fieldWrapper">
            <label class="heading">Self Harm:</label>
            <div class="progress">
                <div class="bar" style="width: {% widthratio diary.urge_sh 5 100 %}%;"></div>
            </div>
            
            <ul class="progress-wrapper">
            	<li class="progress-bar inline">0</li>
            	<li class="progress-bar inline">1</li>
            	<li class="progress-bar inline">2</li>
            	<li class="progress-bar inline">3</li>
            	<li class="progress-bar inline">4</li>
            	<li class="progress-bar inline">5</li>
            </ul>
        </div>
        
        </div>

    <div class="well" id="mood">
        <h3 class="heading">Mood</h3>
        <div class="row">
            <div class="span6">
                <div class="progress progress-danger rotate180">
                    {% if diary.mood < 0 %}
                    <div class="bar" style="width: {% widthratio diary.mood -9 100%}%"></div>
                    {% else %}
                    <div class="bar" style="width:0%"></div>
                    {% endif %}
                </div>
            </div>
            <div class="span6">
                <div class="progress progress-success">
                    {% if diary.mood > 0 %}
                    <div class="bar" style="width: {% widthratio diary.mood 9 100 %}%"></div>
                    {% else %}
                    <div class="bar" style="width:0%"></div>
                    {% endif %}
                </div>
            </div>
            <ul class="progress-wrapper">
                <li class="progress-bar inline">-10</li>
                <li class="progress-bar inline">-6</li>
                <li class="progress-bar inline">-2</li>
                <li class="progress-bar inline">2</li>
                <li class="progress-bar inline">6</li>
                <li class="progress-bar inline">10</li>
            </ul>
        </div>
    </div>
        
    <div class="well" id="emotions">
        <h3 class="heading">Emotions</h3>
        
        <div class="fieldWrapper">
            <label class="heading">Pain:</label>
            <div class="progress">
                <div class="bar" style="width: {% widthratio diary.pain 5 100 %}%;"></div>
            </div>
            <ul class="progress-wrapper">
            	<li class="progress-bar inline">0</li>
            	<li class="progress-bar inline">1</li>
            	<li class="progress-bar inline">2</li>
            	<li class="progress-bar inline">3</li>
            	<li class="progress-bar inline">4</li>
            	<li class="progress-bar inline">5</li>
            </ul>
        </div>
        <div class="fieldWrapper">
            <label class="heading">Sadness:</label>
            <div class="progress">
                <div class="bar" style="width: {% widthratio diary.sad 5 100 %}%;"></div>
            </div>
            <ul class="progress-wrapper">
            	<li class="progress-bar inline">0</li>
            	<li class="progress-bar inline">1</li>
            	<li class="progress-bar inline">2</li>
            	<li class="progress-bar inline">3</li>
            	<li class="progress-bar inline">4</li>
            	<li class="progress-bar inline">5</li>
            </ul>
        </div>
        <div class="fieldWrapper">
            <label class="heading">Shame:</label>
            <div class="progress">
                <div class="bar" style="width: {% widthratio diary.shame 5 100 %}%;"></div>
            </div>
            <ul class="progress-wrapper">
            	<li class="progress-bar inline">0</li>
            	<li class="progress-bar inline">1</li>
            	<li class="progress-bar inline">2</li>
            	<li class="progress-bar inline">3</li>
            	<li class="progress-bar inline">4</li>
            	<li class="progress-bar inline">5</li>
            </ul>
        </div>
        <div class="fieldWrapper">
            <label class="heading">Anger:</label>
            <div class="progress">
                <div class="bar" style="width: {% widthratio diary.anger 5 100 %}%;"></div>
            </div>
            
            <ul class="progress-wrapper">
            	<li class="progress-bar inline">0</li>
            	<li class="progress-bar inline">1</li>
            	<li class="progress-bar inline">2</li>
            	<li class="progress-bar inline">3</li>
            	<li class="progress-bar inline">4</li>
            	<li class="progress-bar inline">5</li>
            </ul>
        </div>
        <div class="fieldWrapper">
            <label class="heading">Fear:</label> 
            <div class="progress">
                <div class="bar" style="width: {% widthratio diary.fear 5 100 %}%;"></div>
            </div>
            
            <ul class="progress-wrapper">
            	<li class="progress-bar inline">0</li>
            	<li class="progress-bar inline">1</li>
            	<li class="progress-bar inline">2</li>
            	<li class="progress-bar inline">3</li>
            	<li class="progress-bar inline">4</li>
            	<li class="progress-bar inline">5</li>
            </ul>
        </div>
        <div class="fieldWrapper">
            <label class="heading">Disgust:<label>
            <div class="progress">
                <div class="bar" style="width: {% widthratio diary.disgust 5 100 %}%;"></div>
            </div>
        </div>
        <div class="fieldWrapper">
            <label class="heading">Jealousy:</label>
            <div class="progress">
                <div class="bar" style="width: {% widthratio diary.jealousy 5 100 %}%;"></div>
            </div>
            <ul class="progress-wrapper">
            	<li class="progress-bar inline">0</li>
            	<li class="progress-bar inline">1</li>
            	<li class="progress-bar inline">2</li>
            	<li class="progress-bar inline">3</li>
            	<li class="progress-bar inline">4</li>
            	<li class="progress-bar inline">5</li>
            </ul> 
        </div>
        <div class="fieldWrapper">
            <label class="heading">Guilt:</label>
            <div class="progress">
                <div class="bar" style="width: {% widthratio diary.guilt 5 100 %}%;"></div>
            </div>
            <ul class="progress-wrapper">
            	<li class="progress-bar inline">0</li>
            	<li class="progress-bar inline">1</li>
            	<li class="progress-bar inline">2</li>
            	<li class="progress-bar inline">3</li>
            	<li class="progress-bar inline">4</li>
            	<li class="progress-bar inline">5</li>
            </ul>
        </div>
        <div class="fieldWrapper">
            <label class="heading">Agitation:</label>
            <div class="progress">
                <div class="bar" style="width: {% widthratio diary.agitation 5 100 %}%;"></div>
            </div>
            <ul class="progress-wrapper">
            	<li class="progress-bar inline">0</li>
            	<li class="progress-bar inline">1</li>
            	<li class="progress-bar inline">2</li>
            	<li class="progress-bar inline">3</li>
            	<li class="progress-bar inline">4</li>
            	<li class="progress-bar inline">5</li>
            </ul>
        </div>
        <div class="fieldWrapper">
            <label class="heading">Joy:</label>
            <div class="progress">
                <div class="bar" style="width: {% widthratio diary.joy 5 100 %}%;"></div>
            </div>
            <ul class="progress-wrapper">
            	<li class="progress-bar inline">0</li>
            	<li class="progress-bar inline">1</li>
            	<li class="progress-bar inline">2</li>
            	<li class="progress-bar inline">3</li>
            	<li class="progress-bar inline">4</li>
            	<li class="progress-bar inline">5</li>
            </ul>
        </div>
    </div>
    
    
    </div>  

</div>

</form>
{% endblock %}