{% extends "base.html" %}
{% load i18n static %}

{% block title %}Password Reset{% endblock %}

{% block content %}

	<h2 class="heading">Password Reset</h2>
	<div class="row">
	<div class="span6">
	
	<div class="well">
	
		<p>{% trans "Forgot your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
		
		<form action="" method="post">{% csrf_token %}
		{{ form.email.errors }}
		<p><label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }}</p>
		
		<input class="btn primary btn-success" type="submit" value="Reset my password" />
		</form>
	
	</div><!-- well -->
	</div><!-- span6 -->
	</div>
	{% endblock %}